<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Branding Your Business">
  <meta name="dicoding:email" content="bayudsatriyo@gmail.com">
<link rel="manifest" href="./app.webmanifest">
<meta name="theme-color" content="#4682B4"/>
  <link rel="icon" href="./favicon.png">
    <title>BrandBiz</title>
</head>
<body>
  <header class="app-bar" id="header">
    <nav id="navHome">
      <div class="nav-title" tabindex="0">
        <img src="https://i.postimg.cc/g2XSszKw/Brand-Biz-removebg.png" id="logo" alt="BrandBiz Logo" />
        <a href="#/learning" id="back" hidden><span>Kembali</span></a>
      </div>
      <button id="hamburgerButtonHome">☰</button>
      <button id="hamburgerButton"><span>☰</span></button>
      <div id="navigationDrawerHome" class="nav-list">
        <li class="listnav"><a href="#/" id="home">Home</a></li>
        <li class="listnav"><a href="#/news" id="news">News</a></li>
        <li class="listnav"><a href="#/about" id="about">About Us</a></li>
        <li><a href="#/login" id="signInHome">Masuk</a></li>
      </div>
    </nav>
  </header>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <h1 class="nav_title">Change Modul</h1>
  <ul>
    <li><a href="#/introduction">Pengenalan Branding</a></li>
    <li><a href="#/pengenalan">Pentingnya Branding</a></li>
    <li><a href="#/analisis">Kenali Audiens</a></li>
    <li><a href="#/merek">Merek dalam Branding</a></li>
    <li><a href="#/logo">Visual Branding</a></li>
    <li><a href="#/kontent">Kontent Branding</a></li>
    <li><a href="#/strategi">Strategi Marketing</a></li>
    <li><a href="#/evaluasi" class="evaluasi">Evaluasi dan Perbaikan</a></li>
  </ul>

  <h1 class="nav_title">Practice Quiz</h1>
  <ul>
    <li class="kuis"><a href="#/kuispengenalan" class="next0">Seberapa kenal dengan branding produk ?</a></li>
    <li class="kuis"><a href="#/kuisvisualisasi" class="next1">Bagaimana Cara Memvisualisasikan Branding Produk ?</a></li>
    <li class="kuis"><a href="#/kuiskontent" class="next2">Seberapa Kreatif kah anda dalam membuat kontent produk</a></li>
    <li class="kuis"><a href="#/kuisstrategi" class="next3">Apakah Anda Sudah Memiliki Langkah Strategi Marketing ?</a></li>
    <li class="kuis"><a href="#/kuisanalisis" class="next4">Bagaimana cara mengenalis pasar ?</a></li>
    <button class="btn-logout">Logout</button>
 </ul>
</nav>
  <main id="mainContent">
  </main>
  <footer class="footer">
    <footer-container></footer-container>
  </footer>
</body>
</html>