<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./favicon.png">
    <title>BrandBiz</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__brand">
      <h1>BrandBiz</h1>
    </div>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
  </header>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <h1 class="nav_title">Change Modul</h1>
  <ul>
    <li><a href="#/introduction">Pengenalan Branding</a></li>
    <li><a href="#/pengenalan">Pentingnya Branding</a></li>
    <li><a href="#/analisis">Kenali Audiens</a></li>
    <li><a href="#/merek">Merek dalam Branding</a></li>
    <li><a href="#/logo">Visual Branding</a></li>
    <li><a href="#/kontent">Kontent Branding</a></li>
    <li><a href="#/strategi">Strategi Marketing</a></li>
    <li><a href="#/evaluasi">Evaluasi dan Perbaikan</a></li>
  </ul>

  <h1 class="nav_title">Practice Quiz</h1>
  <ul>
    <li class="kuis"><a href="#/kuispengenalan">Seberapa kenal dengan branding produk ?</a></li>
    <li class="kuis"><a href="#/kuisanalisis">Bagaimana cara mengenalis pasar ?</a></li>
    <li class="kuis"><a href="#/kuisvisualisasi">Bagaimana Cara Memvisualisasikan Branding Produk ?</a></li>
    <li class="kuis"><a href="#/kuiskontent">Seberapa Kreatif kah anda dalam membuat kontent produk</a></li>
    <li class="kuis"><a href="#/kuisstrategi">Apakah Anda Sudah Memiliki Langkah Strategi Marketing ?</a></li>
  </ul>
</nav>
  <main id="mainContent">
  </main>
  <footer>
    <p>BrandBiz : Branding Your Biznis <a href="#" target="_blank" rel="noreferrer">Tim C23-R4112</a></p>
  </footer>
</body>
</html>