@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway&display=swap');

:root{
      --primary-color: #5291BF;
      --background-color: #DFF2FF;
      --text-color: #484848;
}

section{
    padding: 5% auto;
}

.homecontainer{
    font-family: 'Raleway', sans-serif;
}

.headline{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;

}

.headline-title{
    margin: 0 auto;
    width: 100%;
}

.headline-title h1 {
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    color: var(--text-color);
}

.title-span{
    color: var(--primary-color);
}

.headline-title p {
    margin-top: 10px;
}

.headline-image{
    margin: 0 auto;
    width: 100%;
}

.headline-image img{
    background-size: cover;
    width: 100%;
    height: auto;
}

.superior{
    justify-content: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;
}

.superior-title{
    font-family: 'Raleway', sans-serif;
}

.superior-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.superior-content{ 
    justify-content: center;
    width: 160px;
    margin: 10px auto;
}

.superior-content p{
    font-size: 12px;
    padding-top: 5px;
}

.about{
    background-color: #5291bf;
    width: 100%;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
}

.about-container{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #5291bf;
    border-radius: 1rem;
    align-items: center;
    padding: 3%;
}

.about-image img{
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

.about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title{
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    padding: 3rem 0;
    border-bottom: 1px solid white;
    width: 75%;
}

.about-title-second{
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    overflow-wrap: anywhere;
}

.about-description{
    margin: 0 0px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}

#learnMore{
    width: fit-content;
    font-size: 16px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f8f8f8;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.about-span{
    color: var(--text-color);
}

.offering{
    padding: 20px 0px;
    text-align: center;
}

.offering-title{
    margin: 20px;
}

.offering-title h3{
    color: var(--text-color);
    padding: 1rem 0;
}

.offering-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.accordion{
    order: 2;
}

.offering-image{
    order: 1;
    justify-content: center;
}

.offering-image img{
    background-size: cover;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.testimony{
    background-color: #dff2ff;
    margin: 20px 0px;
    padding: 20px;
}

.testimony-container{
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 1rem;
}

.testimony-title{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.testimony-title .title{
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 0.5rem;
}

.testimony-sub-title{
    color: var(--text-color);
    padding-bottom: 0.5rem;
}

.testimony-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-content: center;
}

.testimony-item{
    align-items: center;
    margin: 5% 20%;
    border-radius: 5px;
    padding: 5%;
    width: 60%;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;

}

.testimony-profile{
    display: flex;
    text-align: left;
 
}

.testimony-name{
    text-transform: capitalize;
    font-weight: bold;
}

.description{
    margin-top: 10px;
    text-align: left;
}

.testimony-position{
    text-transform: uppercase;
}

@media screen and (min-width: 650px) {
    .superior-list{
        flex-direction: row;
        gap: 10%;
      }
}