@media screen and (min-width: 650px) {
    #hamburgerButton{
      font-size: 44px;
    } 
   
    .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar__navigation ul li a {
      display: inline-block;
      text-align: center;
    }

    #navHome{
      display: grid;
      grid-template-columns: 20% 80%;
      border-bottom: 0.005mm solid #0095ff56;
    }
  

    .superior-list{
      grid-template-columns: 30% 30% 30%;
      gap: 10%;
    }

    #hamburgerButtonHome{
      display: none;
    }

    .vidmateri{
      height: 400px;
    }
      .nav-list{
            display: flex;
            position: relative;
            transform: none;
            transition: none;
            padding-top: 0;
            width: 100%;
            justify-content: end;
      }

      .nav-list li  {
            padding: 0px 0px 1% 0px;
            list-style: none;
            text-align: center;
            font-size: 14px;
            margin-right: 1%;
      }

      .nav-list .listnav:hover{
        border-bottom: 1px solid #5291BF;
      }
      .footer-container{     
            margin: 0px auto;
            width: 100%;
            max-width: 1200px;
      }

      .footer-left-side{
            width: 100%;
            text-align: left;
        }

      .footer-right-side{
            text-align: left;
      }

      .footer-links{
        grid-template-columns: 50% 50%;
        gap: 50%;
      }

      .transition_page{
        padding-left: 5%;
        gap: 75%;
      }
   
  }

   
  @media screen and (min-width: 1000px) {
    
    .superior-list{
      grid-template-columns: 30% 30% 30%;
      gap: 10%;
    }

    .transition_page{
      gap: 85%;
    }

    .vidmateri{
      height: 500px;
    }
  }
   