* {
    padding: 0;
    margin: 0;
  }
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
   
   
  /*
    AppBar
  */
  #hamburgerButton{
    color: white;
    right: 2%;
    position: absolute;
    font-size: 15pt;
  } 

  .app-bar {
    padding: 8px 16px;
    background-color: #5291BF;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand h1 {
    color: white;
    font-size: 20px;
    user-select: none;
  }
   
  .app-bar__navigation {
    position: fixed;
    top: 55px;
    right: -50%;
    width: 30%;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    height: calc(100% - 56px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 100;
  }

  .app-bar__navigation::-webkit-scrollbar {
    display: none;
  }
   
  .app-bar__navigation.open {
    right: 0;
  }

  .app-bar__navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20%;
  }

  .app-bar__navigation ul li:hover{
    background-color: #5291BF;
  }

  .app-bar__navigation ul li{
    border-radius: 10px;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
  }


  .app-bar__navigation ul li:nth-child(odd) {
    background-color: #9DCCFF4D;
  }
  
  .app-bar__navigation ul li:nth-child(even) {
    background-color: #EE645B4D;
  }

  .app-bar__navigation ul li:nth-child(odd):hover {
    background-color: #3998ff4d;
  }
  
  .app-bar__navigation ul li:nth-child(even):hover {
    background-color: #ec21124d;
  }
   
  .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    min-width: 44px;
    min-height: 44px;
    padding-top: 5%;
  }

  .nav_title{
    padding-bottom: 5%;
  }
   
  /*
    Main Content
  */
   
  main {
    padding: 32px;
    flex: 1;
    background-color: #DEF1FF;
  }
   
  .content {
    min-height: 100%;
  }
   
  .content .content__heading {
    font-weight: normal;
  }

  .deskripsi{
    margin: 2% auto;
  }

  .deskripsi p{
    padding: 5pt 5%;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    font-size: 16px;
  }
  .deskripsi h1{
    font-size: 18px;
    padding: 5pt 5%;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container img{
    width: 50%;
    margin: 2% auto;
  }

  .deskripsi img{
    width: 50%;
    margin: 2% 25%;
  }

  .judul{
    text-align: center;
  }

  /* formulir feedback */
  .feedback-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #formFeedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  #formFeedback label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  #formFeedback input[type="text"],
  #formFeedback input[type="email"],
  #formFeedback textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #5291BF;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
 button[type="submit"]:hover {
    background-color: #0077cc;
  }

  /* form kuis */
  #soal-container{
    width: 100%;
  }

  #kuis-container{
    width: 100%;
  }

  #form-kuis {
    width: 100%;
  }
  
  #form-kuis p {
    margin-top: 30px;
  }
  
  #form-kuis label {
    display: block;
    margin: 10px 0;
  }
  
  #form-kuis button {
    margin-top: 20px;
  }
   
   
  /*
    Footer
  */
   
  footer {
    padding: 16px;
    background-color: #5291BF;
    bottom: 0;
  }
   
  footer p {
    text-align: center;
  }
   
  footer p, footer p a {
    color: white;
    text-decoration: none;
  }